@font-face {
  font-family: 'Mario';
  src: url('../fonts/MarioBrosDScopy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

.bgIMG1 {
  background-image: url(../images/bgIMG1.png);
  background-repeat: repeat-y;
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */
  height: 100vh;
}

.bgIMG2 {
  background-image: url(../images/bgIMG2.png);
  background-repeat: repeat-y;
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */
  height: 100vh;
}

.topIco1 {
  height: 11vh;
  animation: icoAnim1 0.45s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  top: -100px;
  transform: rotate(230deg);
  width:
}

@keyframes icoAnim1 {
  from {
    top: -100px;
    transform: rotate(230deg);
  }

  to {
    top: 0px;
    transform: rotate(360deg);
  }
}

.topIco2 {
  height: 11vh;
  animation: icoAnim2 0.45s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
  top: -100px;
  transform: rotate(230deg);
}

@keyframes icoAnim2 {
  from {
    top: -100px;
    transform: rotate(230deg);
  }

  to {
    top: 0px;
    transform: rotate(360deg);
  }
}

.topIco3 {
  height: 11vh;
  animation: icoAnim3 0.45s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  top: -100px;
  transform: rotate(230deg);
}

@keyframes icoAnim3 {
  from {
    top: -100px;
    transform: rotate(230deg);
  }

  to {
    top: 0px;
    transform: rotate(360deg);
  }
}

.topIco4 {
  height: 11vh;
  animation: icoAnim4 0.45s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.75s;
  transform: rotate(230deg);
  top: -100px;
}

@keyframes icoAnim4 {
  from {
    top: -100px;
    transform: rotate(230deg);
  }

  to {
    top: 0px;
    transform: rotate(360deg);
  }
}

.iconsIMG {
  height: 10vh;
  transition: 0.5s;
}

.iconsIMG:hover {
  height: 11vh;
  transition: 0.5s;
}

.test {
  border: pink 2px solid;
}

.logo {
  animation: logoAnim 1s ease-out;
  animation-fill-mode: forwards;
  transition: 0.5s;
  opacity: 0;
  height: 44vh;
}

.contLogo {
  height: 45vh;
}

@keyframes logoAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.title {
  animation: titleAnim 1.3s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  height: 25vh;
}

.contTitle {
  height: 26vh;
}

@keyframes titleAnim {
  from {
    opacity: 0;
    bottom: -200px;
  }

  to {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes anim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mainFont {
  font-family: Mario;
  font-size: 30px;
}

.downarrow {
  padding-left: 200px;
}

.upperarrow {
  margin-right: 110px;
}

.mouseImage {
  animation: anim 3s ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
  height: 17vh;
}

.mouseContainer {
  height: 18vh;
}

.galleryImage {
width: 30vw;
}

.galleryContainer {


}

.imageSecondText {

}

.secondTextImage {
  height: 50vh;
}
