body {
  background-color: rgba(15, 41, 22, 1);
  overflow-x: hidden;
  overflow-y: scroll;
}

@font-face {
  font-family: 'font1';
  src: url('font1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font2';
  src: url('font2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: rgba(15, 41, 22, 1);
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: rgba(218, 215, 205, 1);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.5s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

/* COLORS */
/* RGB */
/*color1 GREEN: rgba(15, 41, 22, 1);
color2 TIMBERWOLF: rgba(218, 215, 205, 1);
color3 CORAL: rgba(253, 136, 136, 1);
color4 DARK GREY: rgba(26, 26, 26, 1);
*/

.bgColor {
  background-color: rgba(15, 41, 22, 1);
  height: 100vh;
  width:100vw;
}

.main {
  height:  100vh;

}

.mainFlex {
  height: 100vh;
}

.mainRow {
  height: 100vh;
}

.timerCol {
  color:rgba(218, 215, 205, 1);
  font-size: 60px;
  font-family: font2;
}

.timerCol2 {
  color:rgba(218, 215, 205, 1);
  font-size: 60px;
  font-family: font2;
}

.T {
  border:solid pink 2px;
}


	.timer{
		font-size: 0;
		text-align: center;
	}
	.timer_section{
		display: inline-block;
		vertical-align: top;
	}
	.timer_section > div{
		display: inline-block;
		vertical-align: top;
		font-size: 50px;

		color: rgba(218, 215, 205, 1);
		line-height: 70px;
		width: 45px;
		margin: 0 1px;
		border-radius: 2px;
	}
	.timer_section > div.timer_section_desc{
		display: block;
		background: none;
		color: rgba(218, 215, 205, 1);
    font-family: font2;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 30px;
		width: auto;
		margin: 0;
    color:;
	}
	.timer_delimetr{
		display: inline-block;
		vertical-align: top;

		font-size: 50px;
		line-height: 70px;
		margin: 0 5px;
	}
	@media (max-width: 767px){
		.timer_section > div{
			font-size: 30px;
			width: 30px;
			line-height: 40px;
		}
		.timer_delimetr{
			line-height: 40px;
			font-size: 30px;
		}
		.timer_section > div.timer_section_desc{
			font-size: 14px;
			line-height: 26px;
		}
    .row2 {
      width: 100vw;
    }

    .timerCol {
      font-size: 35px;
    }
    .timerCol2 {
      font-size: 21px;
    }
	}


.row1 {
  height:10vh;
}

.row2 {
  width:100vw;
}
