@font-face {
  font-family: 'Mario';
  src: url('../fonts/MarioBrosDScopy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

.bgIMG1 {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform-origin: center;
  background-image: url(../images/bgIMG1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bgIMG2 {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0vh;
  background-image: url(../images/bgIMG2.png);
  background-repeat: repeat-y;
  background-size: cover;
  height: 100vh;
}

.bgIMG3 {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0vh;
  background-image: url(../images/bgIMG3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.topIco1 {
  height: 11vh;
  animation: icoAnim1 0.45s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  top: -100px;
  transform: rotate(230deg);
}

@keyframes icoAnim1 {
  from {
    top: -100px;
    transform: rotate(230deg);
  }

  to {
    top: 0px;
    transform: rotate(360deg);
  }
}

.topIco2 {
  height: 11vh;
  animation: icoAnim2 0.45s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
  top: -100px;
  transform: rotate(230deg);
}

@keyframes icoAnim2 {
  from {
    top: -100px;
    transform: rotate(230deg);
  }

  to {
    top: 0px;
    transform: rotate(360deg);
  }
}

.topIco3 {
  height: 11vh;
  animation: icoAnim3 0.45s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  top: -100px;
  transform: rotate(230deg);
}

@keyframes icoAnim3 {
  from {
    top: -100px;
    transform: rotate(230deg);
  }

  to {
    top: 0px;
    transform: rotate(360deg);
  }
}

.topIco4 {
  height: 11vh;
  animation: icoAnim4 0.45s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.75s;
  transform: rotate(230deg);
  top: -100px;
}

@keyframes icoAnim4 {
  from {
    top: -100px;
    transform: rotate(230deg);
  }

  to {
    top: 0px;
    transform: rotate(360deg);
  }
}

.iconsIMG {
  height: 10vh;
  transform: scale(1);
  transition: 0.5s;
}

.iconsIMG:hover {
  transform: scale(1.1);
  transform-origin: center;
  transition: 0.5s;
}

.test {
  border: pink 2px solid;
}

.logo {
  animation: logoAnimShadow 3s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  height: 44vh;
}

.contLogo {
  height: 45vh;
  animation: logoAnim 1s ease-out;
  animation-fill-mode: forwards;
  transition: 0.5s;
  opacity: 0;
}

@keyframes logoAnimShadow {
  0% {
    -webkit-filter: drop-shadow(0 0 15px #A252C3);
    filter: drop-shadow(0 0 15px #A252C3);
  }

  50% {
    -webkit-filter: drop-shadow(0 0 35px #A252C3);
    filter: drop-shadow(0 0 35px #A252C3);
  }

  100% {
    -webkit-filter: drop-shadow(0 0 15px #A252C3);
    filter: drop-shadow(0 0 15px #A252C3);
  }
}

@keyframes logoAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.title {
  animation: titleAnim 1.3s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  height: 25vh;
}

.contTitle {
  height: 26vh;
}

@keyframes titleAnim {
  from {
    opacity: 0;
    bottom: -200px;
  }

  to {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes anim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mainFont {
  font-family: Mario;
  font-size: 30px;
}

.downarrow {
  padding-left: 200px;
}

.upperarrow {
  margin-right: 110px;
}

.mouseImage {
  animation: anim 3s ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
  height: 17vh;
}

.mouseContainer {
  height: 18vh;
}

.arrowsContainer {
  height: 23vh;;
}

.arrowImageUp {
  width: 10vw;
  transform:rotate(-15deg);
}

.arrowImageDown {
  width: 10vw;
  transform:rotate(-15deg);
}

.galleryContainer {
height: 50vh;
}

.galleryImage {
  width: 20vw;
  transition: 0.5s;
  transform: rotate(0deg);
}

.galleryImage:hover {
  width: 20.5vw;
  transition: 0.5s;
  transform: rotate(-5deg);
}

.galleryImageXS {
  height: 33vh;
  transform: rotate(0deg);
  transition: 0.5s;
}

.galleryImageXS:hover {
  height: 33.5vh;
  transform: rotate(-5deg);
  transition: 0.5s;
}

.secondTextImage {
  width: 24vw;
}

.secondTextImageXS {
  height: 33vh;
}

@media (max-width:1200px) {
  .displayNone {
    display: none;
  }
}

@media (min-width:1200px) {
  .dontDisplay {
    display: none;
  }
}

.bulbaImage {
  animation: bulbaAnim 4s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  transition: 0.5s;
  height: 60vh;
  -webkit-filter: drop-shadow(0 0 0 white);
  filter: drop-shadow(0 0 0 white);
}


.bulbaImageXS {
  animation: bulbaAnim 4s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  transition: 0.5s;
  height: 40vh;
  -webkit-filter: drop-shadow(0 0 0 white);
  filter: drop-shadow(0 0 0 white);
}

@keyframes bulbaAnim {
  0% {
    -webkit-filter: drop-shadow(0 0 0 white);
    filter: drop-shadow(0 0 0 white);
  }

  50% {
    -webkit-filter: drop-shadow(0 0 25px #8F17A5);
    filter: drop-shadow(0 0 25px #8F17A5);
  }

  100% {
    -webkit-filter: drop-shadow(0 0 0 white);
    filter: drop-shadow(0 0 0 white);
  }
}

.bulbaContainer {
  height: 55vh;
}

.bulbaTextContainer {
  text-shadow: 4px 4px 0 #8F17A5;
}

.mainFontBulba {
  font-family: Mario;
  font-size: 40px;
  text-align: center;
}

.mainFontBulbaXS {
  font-family: Mario;
  font-size: 23px;
  text-align: center;
}
