body {

  background: url(images/bgIMG1.png) repeat-y;
}
.border2 {
  border:red solid 2px;
}
.bgIMG {
  position: relative;
  height: 100%;
  width: 100%;
   }

.iconsIMG {

}
.iconsIMG:hover {
  height: 105%;
  width: 105%;
}
.menu {

}

.logo {
  top:-110px;
}
.mainTitle {
    top:-120px;
    left:-15px;
}
.mouseDown {
  top:-300px;
}
